#numbers {
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
 
  

}
.num {
  border: 1px solid black;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  margin-top: 100px;
  width: 76%;
  margin-left: 20px;
  margin-bottom: 0;
  
  padding-right: 10px;
  
}
#add {
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
#subtract {
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#multiply {
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#divide {
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#equals {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
#clear {
  cursor: pointer;
  padding: 10px;
  width: 60%;
  border: 1px solid black;
  padding-left: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clear:hover {
border: 1px solid brown;
background-color: red;
} 
#clear-multiplay {
  width: 70%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 0;
  
}
#equals:hover {
  border: 1px solid brown;
background-color: green

}
#divide:hover {
  border: 1px solid brown;
background-color: blue

}
#multiply:hover {
  border: 1px solid brown;
background-color: blue

}
#subtract:hover {
  border: 1px solid brown;
background-color: blue

}
#add:hover {
  border: 1px solid brown;
background-color: blue

}
#operators {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin-left: 20px;
  
}
